<div class="container">
<h1>Stupid Coach</h1>
<form action="/answer" method="get">
  <input class="text-field" type="text" name="message">
  <input class="btn-treehouse" type="submit" value="Ask!">
</form>
</div>
