// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 100px auto;
  width: 500px;
}

.text-field {
  width: 150px;
  height: 40px;
  font-size: 40px;
  display: inline-block;
  vertical-align: top;
}

.btn-treehouse {
  color: white;
  height: 45px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  display: inline-block;
  vertical-align: top;
  border: 2px;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
